<% if(flash!=null){%>
<% Object.keys(flash).forEach(function(key) {%>
<div class="flash <%=key%>">
    <span ><%=flash[key]%></span>
</div>
<%})%>
<%}%>
<style>
    .flash{
        text-align: center;
    }
    .flash>span{
        background-color: green;
        display: inline;
        padding: 6px;
        position: fixed;
        z-index: 1;
        margin: auto;
        text-align: center;
        top: 5%;
        color: white;
        border-radius: 3px;
    }
</style>
<div id="loader">
    <div class="lds-ripple"><div></div><div></div></div>
    <div class="overlay">
    </div>
</div>
<nav class="navbar navbar-default nav-color">
    <!--<div class="container">-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">STARBOYS</a>
        </div>
        <div class="collapse navbar-collapse nav-pro" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="menu" id="home"><a href="/">HOME</a></li>
                <li class="menu"  id="about"><a href="/about-us">ABOUT US</a></li>
                <li class="menu"  id="contact"><a href="/contact-us">CONTACT US</a></li>
            </ul>
        </div>
    <!--</div>-->
</nav>