<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-1/p160x160/48270429_2023610341079977_4696829385678782464_n.jpg?_nc_cat=100&_nc_ht=scontent.fdel1-4.fna&oh=4fee1f36bda9a4393437bc567ab99b36&oe=5CBF124C"/>

    </div>
    <div class="col-sm-4">
      </div>
    <div class="col-sm-4">
       </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>