body {
  /*padding: 10px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}
/*.bg-3:hover{*/
  /*background-color: #777*/
/*}*/
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  position: sticky;
  top: 0;
}
.navbar-nav  li a:hover {
  color: #777 !important;
}
.active a {
  color: #777 !important;;
}
.nav-color{

  background-color: #231c1c;
}
.active>a{
  background-color: #231c1c;
}

.img-home{
  width: 100%;
}
.nav-pro{
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(35, 28, 28,0.6);
}
.menu a{
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand {
  color: #eadada;
  border: 1px solid;
  border-radius: 4px;
}